.container {
  display: flex;
  flex: 1;
  padding: 16px;
  flex-direction: row;
}

.inputRow {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.label {
  padding: 8px;
  background-color: black;
  color: white;
  flex: 2;
}

.sideBar {
  display: flex;
  flex: 5;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  flex: 15;
}

.input {
  padding: 4px;
  font-size: 16px;
  width: 100%;
  flex: 28;
}

.messageContainer {
  flex: 1;
  margin-top: 16px;
}

.messageInput {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.pushButton {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 8px;
  margin: 16px 0 16px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
