.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 99vh;
}

.inputRow {
  display: flex;
  flex-direction: row;
  padding: 4px 0 0 0;
}

.label {
  padding: 8px;
  background-color: #263238;
  color: white;
  width: 100px!important;
  height: 20px!important;
}

.sideBar {
  width: 220px;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: -1vh;
}

.input {
  padding: 4px;
  font-size: 16px;
  flex: 17;
  height: 24px!important;
}

.messageContainer {
  flex: 1;
  margin-top: 16px;
  overflow-y: scroll;
}

.messageInput {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: white;
  padding: 8px;
}

.pushButton {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px;

}

.connectButton {
  font-size: 14px;
  background-color: black;
  color: white;
  padding: 8px;
  margin: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.errorWrapper {
  margin-top: 8px;
  padding: 8px;
  border-top-style: solid;
  border-top-color: black;
  color: white;
  background-color: #b71c1c;

  font: 1rem Inconsolata, monospace;
  border-top-width: 1px;
}

button:focus {
  outline: 0;
}
