.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
}

.headerTextWrapper {
  display: flex;
  justify-content: space-between;
  background-color: #263238;
  color: white;
  padding: 16px;
  align-items: center;
}

.headerMessage {
  font-size: 16px;
}

.headerRightPanel {
  display: flex;
  flex-direction: column;
}

.optionsPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-right: 16px;
  background-color: white;
}

.options {
  font-size: 20px;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
}
