/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

html {
  overflow-y: hidden;
}

body {
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  background-color: #defefe;
}
